
.axisButton {
    opacity: 0.6;
}

.axisButton:hover {
    opacity: 1;
}

.axisButton.buttonDisabled {
    opacity: 0;
}

.axis {
    opacity: 1;
}

.axisHidden {
    opacity: 0;
}

.axisTransitionProperties {
    transition-property: opacity;
    transition-duration: 300ms;
}

.barchartPercentNumber {
    font-family: 'News Cycle';
    font-weight: 400;
}

.axis.yourselfMarker {

}

.axis.axisHidden.yourselfMarker {

}