.container {
    display: inline-block;
    user-select: none;
    width: 100%;
    height: 100%;
}

.innerContainer {
    position: relative;
    height: 100%;
    width: calc(100% - 20px);
    display: flex;
    /* align-items: flex-end; */
}

.horizontal.container {
    padding-top: 1rem;
}

.whiteBackground {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    height: 0%;
    pointer-events: none;

    transition-property: height;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.1,.49,.28,.96);
}

.horizontal .whiteBackground {
    height: 100%;
    width: auto;
    transition-property: width;

}

.sepDiv {
    position: relative;
    /* pointer-events: none; */
    cursor: pointer;
}

.sepDivNumber {
    position: absolute;
    right: -20px;
    top: -10px;
    font-size: 1rem;
    opacity: 0.6;
    height: 100%;

    transition-property: opacity;
    transition-delay: 300ms;
    cursor: pointer;
}

.horizontal .sepDivNumber {
    left: 3px; 
    top: -21px;
    width: 100%;
}
.horizontal .sepDivNumber h3 {
    text-align: right;
}

.sepDiv:hover .sepDivLine{
    width: 100% !important;
}

.sepDiv:hover .sepDivNumber, .sepDivSelected .sepDivNumber{
    opacity: 1;
}

.horizontal .sepDiv:not(.sepDivSelected) h3 {
    margin-top: 0.5rem;
    font-size: 0.5rem;
}

.sepDivLine {
    height: 100%;
    border-top: 1px solid #FFFFFF;

    transition-property: width;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.1,.49,.28,.96);
}

.horizontal .sepDivLine {
    border-top: none;
    border-right: 1px solid #FFFFFF;

}


.numericValue {
    position: absolute;
    right: -40px;

    transition-property: bottom;
    transition-delay: 100ms;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.1,.49,.28,.96);

    transform: translateY(50%);
}